body {
  font-family: "Poppins", sans-serif;
  background-color: #4c4c58;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}
div.scrollmenu {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  right: 0;
 
}

div.scrollmenu a {
  text-decoration: none;
  padding: 22px;
  color: rgb(186, 179, 225);
  font-size: 20px;
}

div.scrollmenu a:hover {
  background-color: #262424;
  color: azure;
  border-radius: 10px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 290px 0;
}
header h1 {
  font-size: 100px;
  font-weight: 700;
  margin: 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}
header h3 {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  display: inline-block;
  background-color: white;
  padding: 10px 25px;
  text-decoration: none;
  letter-spacing: 3px;
  margin-top: 30px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 150px 100px;
}
.main-image {
  overflow: hidden;
  opacity: 0.9;
  border-radius: 5px;
}
.img-responsive {
  width: 100%;
  height: 100%;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #e6bea8;
}
.secondary h2 {
  padding: 30px;
  font-size: 28px;
}
main {
  background-color: whitesmoke;
}
main h2 {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-indent: 15px;
  margin: 5px;
}
.image-responsive {
  width: 100%;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  background-color: white;
  padding: 12px;
  font-size: 18px;
  color: #272730;
  border-radius: 5px;
}
.card h4 {
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 2px;
}
.card a {
  padding: 10px;
  border: 1px solid;
  display: block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  background-color: #616178;
  color: aliceblue;
}
.card a:hover {
  background-color: lightgray;
  color: #616178;
}
.card span {
  font-family: "Poppins";
  font-size: 17px;
  padding: 5px;
}

.card h5 {
  font-weight: 600;
  font-size: 14px;
  opacity: 0.6;
}
section.third {
  background-color: rgb(213, 238, 238);
}
.third h2 {
  text-align: center;
  padding: 20px;
  font-size: 28px;
}
.third h5 {
  text-align: center;
  opacity: 0.4;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  row-gap: 50px;
}
hr {
  margin: 0;
  opacity: 0.2;
  margin-bottom: 18px;
}
.grid-3 .card span {
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 8px;
}
.grid-3 .card a {
  margin-top: 15px;
  background-color: lightgray;
  color: #4c4c58;
  padding: 5px 5px;
}
.grid-3 .card a:hover {
  background-color: #616178;
  color: white;
}
section.forth {
  background-color: rgb(225, 202, 202);
}
.grid-deals {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  padding-top: 60px;
}
.forth h2 {
  padding: 20px;
  font-size: 28px;
  font-weight: 700;
}
.grid-deals h3 {
  font-weight: 700;
  margin: 10px;
}
img {
  border-radius: 5px;
}

.grid-deals .card {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.grid-deals a {
  margin: 5px 0;
}
footer {
  padding: 40px;
  opacity: 0.9;
}

footer h4 {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: lightgray;
  letter-spacing: 4px;
}
footer h4 a {
  color: lightgrey;
  text-decoration: none;
}
footer h4 a:hover {
  color: grey;
  text-decoration: none;
}

footer h2 {
  text-align: center;
  font-size: 32px;
  letter-spacing: 4px;
  color: azure;
  margin: 40px;
}

@media (max-width: 800px) {
  header h1 {
    font-size: 50px;
  }
  header h2 {
    font-size: 25px;
  }
  header h3 {
    font-size: 15px;
  }
  .grid {
    grid-template-columns: 1fr;
    padding: 70px;
  }
  .grid-2 {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
  .grid-3 {
    grid-template-columns: 1fr;
  }
}
